---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
---

<Layout title="Blog | Fernando Chu">
  <div class="mt-8 flex flex-col">
    <div>Nothing here yet :)</div>
  </div>
</Layout>
