---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Category Theory Seminar UU">
  <div class="mt-8 flex flex-col">
    <h2 class="mb-2 text-2xl font-medium">About</h2>
    <p>
      The category theory seminar runs every other week at Utrecht University.
      Here category theory is understood in a broad sense, and topics can
      include higher category theory, applications to homotopy theory and
      computer science, among other things. The sessions will take up to 1h30m,
      including questions.
    </p>
    <p class="mt-2">
      If you would like to give a talk, please talk to me or Léonard.
    </p>
    <h2 class="mt-5 mb-2 text-2xl font-medium">Schedule</h2>
    <ul class="space-y-1 list-disc list-inside">
      <li class="font-semibold list-disc">
        October 7, 2:30PM-4:00PM, in HFG 7.07
        <p class="text-gray-700 ml-10 font-normal">TBA</p>
      </li>
      <li class="font-semibold list-disc">
        October 21, 2:30PM-4:00PM, in HFG 7.07
        <p class="text-gray-700 ml-10 font-normal">TBA</p>
      </li>
      <li class="font-semibold list-disc">
        November 4, 2:30PM-4:00PM, in HFG 7.07
        <p class="text-gray-700 ml-10 font-normal">TBA</p>
      </li>
    </ul>
  </div>
</Layout>
